<?xml version='1.0' encoding='utf-8'?>
<widget id="risingj.htmlpiano" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HTML Piano</name>
    <description>
    </description>
    <author>@purplecabbage</author>
    <content src="index.html" />
    <access origin="*" />
</widget>
